/* General style */
button.active{
    opacity: 100%;
}

.buttons{
    background-color: transparent;
    background-size: cover;
    border: none;
    outline: none;
    opacity: 50%;
}

#changeable-content-div{
    background-color: rgba(255, 255, 255, 0.3);
    color: #FFF;
    margin: 2rem auto 4rem;
    width: 90%;
}

#changeable-content-div .title, #changeable-content-div h2{
    margin: 0 auto 1rem;
    padding-top: 2rem;
    text-align: center;
    width: 90%;
}

#changeable-content-div h1{
    font-size: 2.5rem;
    line-height: 3rem;
}

#changeable-content-div h2{
    border-top: 2px solid #FFF;
    font-size: 1.2rem;
    line-height: 2rem;
    padding-top: 1rem;
}

#changeable-content-div input{
    display: block;
}

#control-buttons-list{
    display: flex;
    gap: 0.5rem;
}

.control-buttons{
    height: 50px;
    width: 50px;
}

#date{
    font-family: 'Default_SC', serif;;
    font-size: 1rem;
    height: 2rem;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    max-width: 20rem;
}

.inner-div .content-div div{
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 90%;
}

.inner-div .character-h1{
    padding-bottom: 1rem;
    padding-top: 0;
    text-align: center;
}

.inner-div img{
    display: none;
}

.inner-div p{
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin: 0 auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 90%;
}

.inner-div p.dateRange{
    border-bottom: 2px solid #FFF;
    padding-top: 0;
    text-align: center;
}

#input{
    padding-bottom: 1rem;
}

#submit{
    background-color: transparent;
    border: 3px solid #FFF;
    color: #FFF;
    font-family: 'Default_SC', serif;;
    font-size: 1.2rem;
    margin: 2rem  auto;
    padding: 1rem;
}

#wrapper{
    height: 100%;
    margin: 2rem auto 0;
    width: 90%;
}

#zodiac-button-list{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 2rem;
}

.zodiac-buttons{
    height: 76px;
    width: 76px;
}

/* Pseudo class */
.buttons:hover{
    opacity: 100%;
}

/* Media queries */
@media (min-width: 768px){
    #date{
        width: 40%;
    }

    #wrapper{
        width: 80%;
    }

    #zodiac-button-list{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-rows: auto auto;
        gap: 0.8rem;
        width: 31.25rem;
    }
}

@media (min-width: 1200px){
    #changeable-content-div{
        max-width: 50rem;
        width: 86%;
    }

    #date{
        width: 40%;
    }

    .inner-div{
        display: grid;
        grid-template-columns: 39% 2% 59%;
        grid-template-areas: 'img . content';
    }

    .inner-div div{
        grid-area: content;
    }

    .inner-div img{
        display: block;
        grid-area: img;
        width: 100%;
    }

}